#alertsControl {
    box-shadow: var(--box-shadow);
    margin: 10px;
    border: 1px solid var(--control-outline);
    max-width: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-blue);
    color: #fff;
    border-radius: 10px; 
    padding: 5px;
    text-align: center;
}

#alertsControl * {
    margin: 10px 0px;
}

#alertsControl img {
    width: 36px;
    height: 36px;
}

#alertsControl #circleIcon {
    width: 12px;
    height: 12px;
}