#bottomControl {
    box-shadow: var(--box-shadow);
    margin: 10px;
    display: flex;
    flex-direction: row;
    background: var(--background);
    border-radius: 40px;
    align-items: center;
}
#bottomControl div {
    padding: 5px 10px;
}
.bottomControlIcon img {
    width: 48px;
    height: 48px;
    margin: 10px;
}