:root {
  --control-text: #fff;
  --control-outline: #000;
  --dark-blue: #0d415f;
  --light-blue: #1fa9c2;
  --green: #A3CE58;
  --yellow: #fa9f34;
  --orange: #f76c47;
  --red: #c22f1f;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #chatScreenOverlay, #settingsScreenOverlay {
    max-width: 460px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #chatScreenOverlay, #settingsScreenOverlay {
    max-width: 650px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#topRightControls, #bottomControls, #leftControls, #rightControls {
  margin: 10px;
}
#topRightControls, #leftControls, #rightControls {
  border: 1px solid var(--control-outline);
}
#topRightControls, #bottomControls {
  display: flex;
  flex-direction: row;
}
#leftControls, #rightControls {
  max-width: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-blue);
  color: #fff;
  border-radius: 10px; 
  padding: 5px;
  text-align: center;
}

#topRightControls {
  padding: 5px 5px;
  background: var(--dark-blue);
  color: var(--control-text);
  border-radius: 10px;
}
#topRightControls select {
  background: rgba(0, 0, 0, 0);
  color: var(--control-text);
  appearance: none;
  border: none;
  outline: none;
}
#topRightControls option {
  color: var(--control-text);
  background: var(--dark-blue);
}
#bottomControls {
  background: var(--dark-blue);
  border-radius: 40px;
}
#bottomControls div {
  padding: 10px;
  margin: 5px
}
#chatScreen, #settingsScreen {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#chatScreenOverlay, #settingsScreenOverlay {
  padding: 10px;
  color: var(--control-text);
  background-color: var(--dark-blue);
  border-radius: 10px;
  border: 1px solid black;
  height: fit-content;
}

.controlIcon {
  font-size: 3em;
  color: var(--light-blue);
  margin-top: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomControlIcon {
  font-size: 48px;
  color: var(--light-blue);
}
.circle {
  font-size: 1em;
  color: var(--green);
}
.exclamation {
  color: var(--yellow);
}
.exclamation-circle {
  color: var(--orange);
}
.exclamation-triangle {
  color: var(--red);
}