/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #chatScreenOverlay, #settingsScreenOverlay {
    max-width: 200px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #chatScreenOverlay, #settingsScreenOverlay {
    max-width: 460px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #chatScreenOverlay, #settingsScreenOverlay {
    max-width: 650px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

:root {
  --lightControl-bg: rgba(200, 200, 200, 0.8);
  --lightControl-text: #000;
  --lightControl-outline: #000;
  --darkControl-bg: rgba(0, 0, 0, 0.5);
  --darkControl-text: #FFF;
  --darkControl-outline: #999;
  --control-bg: var(--darkControl-bg);
  --control-text: var(--darkControl-text);
  --control-outline: var(--darkControl-outline);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
#topRightControls, #bottomControls, #leftControls, #rightControls {
  margin: 10px;
}
#topRightControls, #leftControls, #rightControls {
  border: 1px solid var(--control-outline);
}
#topRightControls, #bottomControls {
  display: flex;
  flex-direction: row;
}
#leftControls, #rightControls {
  display: flex;
  flex-direction: column;
  background: var(--control-bg);
  border-radius: 10px; 
}
#leftControls img, #rightControls img {
  margin: 15px 10px;
  display: block;
}
#topRightControls {
  padding: 5px 5px;
  background: var(--control-bg);
  color: var(--control-text);
  border-radius: 10px;
}
#topRightControls select {
  background: rgba(0, 0, 0, 0);
  color: var(--control-text);
  appearance: none;
  border: none;
  outline: none;
}
#topRightControls option {
  color: var(--control-text);
  background: var(--control-bg);
}
#bottomControls div {
  border: 1px solid var(--control-outline);
  background: var(--control-bg);
  border-radius: 100%;
  padding: 10px;
  margin: 5px
}
#chatScreen, #settingsScreen {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#chatScreenOverlay, #settingsScreenOverlay {
  padding: 10px;
  color: var(--control-text);
  background-color: var(--control-bg);
  border-radius: 10px;
  border: 1px solid black;
  height: fit-content;
}

